<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>datamodel dashboard</title>
  <link rel="stylesheet" href="/resource/windowdefault/jquery-ui.min.css" />
  <link rel="stylesheet" href="/css/dashboard/common.css" />
  <link rel="stylesheet" href="/css/dashboard/sidebar.css" />

  <script src="/resource/windowdefault/jquery-3.4.1.min.js"></script>
  <script src="/resource/windowdefault/jquery-ui.min.js"></script>
  <script src="/resource/chart.js/chart.min.js"></script>
</head>
<body>
  
  <div id="main">
    <!-- common area -->
    <div class="common-area">
      {% include "../common/header.html" %}
        <div class="contents-header clearfix">
            <h2 class="contents-title float-left"><span>스마트시티</span> 데이터 실시간 분석 대시보드</h2>
            <div class="user float-right clearfix">
                <a href="../mypage.html" class="user-name float-left">User 01</a>
                <button type="button" class="float-left btn btn-c-secondary btn-size-sm logout-btn">로그아웃</button>
            </div>
        </div>
    </div>
    <!-- //common area -->
    <!-- contents-area -->
    <div class="contents">
      <h3 class="hidden">컨텐츠 시작</h3>
      <div class="table-btns-box w100p mB0 clearfix">
          <div class="btns-box float-right">
            <button type="button" class="btn btn-c-white float-left js-widget-btn">
                위젯 등록
            </button>
          </div>
      </div>
    </div>
    <!-- //contents-area -->

    <!-- 위젯 등록 모달 -->
    <div class="layer-wrap modal-data-widget" data-layer="modal-widget">
        <div class="layer-container">
            <section class="ui-layer">
                <div class="ui-layer__head">
                    <h2 class="ui-layer__title">
                        위젯 등록
                    </h2>
                </div>
                <div class="ui-layer__body">
                    <div class="ui-layer__body-inner">
                      <h3 class="data-tit">제목</h3>
                      <div class="item-input">
                          <input type="text" placeholder="제목 입력하세요.">
                      </div>
                      <h3 class="data-tit">데이터</h3>
                      <div class="item-select">
                          <select title="대시보드 데이터 선택">
                              <option value="원천 데이터" selected>원천 데이터</option>
                              <option value="분석 데이터">분석 데이터</option>
                          </select>
                      </div>
                      <h3 class="data-tit">Time</h3>
                      <div class="item-input time">
                          <input type="number" placeholder="일">
                          <input type="number" placeholder="시">
                          <input type="number" placeholder="분">
                          <input type="number" placeholder="초">
                      </div>
                      <h3 class="data-tit">지점</h3>
                      <div class="item-check flex flex_one">
                        <div class="item-box">
                          <input type="checkbox" name="listCheck1" id="listCheck1-1">
                          <label for="listCheck1-1" title="label01"><span class="check-ico"></span>label01</label>
                        </div>
                        <div class="item-box">
                          <input type="checkbox" name="listCheck1" id="listCheck1-2">
                          <label for="listCheck1-2" title="label02"><span class="check-ico"></span>label02</label>
                        </div>
                        <div class="item-box">
                          <input type="checkbox" name="listCheck1" id="listCheck1-3">
                          <label for="listCheck1-3" title="label03"><span class="check-ico"></span>label03</label>
                        </div>
                        <div class="item-box">
                          <input type="checkbox" name="listCheck1" id="listCheck1-4">
                          <label for="listCheck1-4" title="label04 text overflow invalid property value"><span class="check-ico"></span>label04 text overflow invalid property value</label>
                        </div>
                        <div class="item-box">
                          <input type="checkbox" name="listCheck1" id="listCheck1-5">
                          <label for="listCheck1-5" title="label05"><span class="check-ico"></span>label05</label>
                        </div>
                        <div class="item-box">
                          <input type="checkbox" name="listCheck1" id="listCheck1-6">
                          <label for="listCheck1-6" title="label06"><span class="check-ico"></span>label06</label>
                        </div>
                        <div class="item-box">
                          <input type="checkbox" name="listCheck1" id="listCheck1-7">
                          <label for="listCheck1-7" title="label07"><span class="check-ico"></span>label07</label>
                        </div>
                        <div class="item-box">
                          <input type="checkbox" name="listCheck1" id="listCheck1-8">
                          <label for="listCheck1-8" title="label08"><span class="check-ico"></span>label08</label>
                        </div>
                      </div>
                      <h3 class="data-tit">컬럼 지정</h3>
                      <div class="treeview_box" style="height:400px">
                        <ul class="tree_basic">
                          <li class="tree_in">신규
                            <ul>
                              <li>신규</li>
                              <li class="tree_in">신규
                                <ul>
                                  <li>신규</li>
                                  <li>New</li>
                                  <li>New</li>
                                  <li>New</li>
                                  <li>New</li>
                                </ul>
                              </li>
                              <li class="tree_in">New
                                <ul>
                                  <li>New</li>
                                  <li class="tree_in">New
                                    <ul>
                                      <li>New</li>
                                      <li>New</li>
                                    </ul>
                                  </li>
                                  <li>New</li>
                                </ul>
                              </li>
                              <li>New</li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <h3 class="data-tit">상세 내용</h3>
                      <div class="item-textarea">
                        <textarea name="teditor" cols="100" rows="10" placeholder="모델 설명을 작성해 주세요" title="모델 설명"></textarea>
                      </div>
                      <h3 class="data-tit">그래프 대분류</h3>
                      <div class="item-select">
                          <select title="대시보드 그래프 대분류 선택">
                              <option value="Line" selected>Line Chart</option>
                              <option value="Bar">Bar Chart</option>
                              <option value="Other">Other Chart</option>
                              <option value="Area">Area Chart</option>
                          </select>
                      </div>
                      <h3 class="data-tit">그래프 중분류</h3>
                      <div class="item-select">
                          <select title="대시보드 그래프 중분류 선택">
                              <option value="Default" selected>Default</option>
                          </select>
                      </div>
                    </div>
                </div>
                <div class="ui-layer__foot">
                    <div class="modal-btns-box">
                        <button type="button" class="btn btn-c-primary" data-role="layerClose">등록</button>
                    </div>
                </div>
            </section>
            <div class="over_box" data-role="layerClose"></div>
        </div>
    </div>
    <!-- // 위젯 등록 모달 -->
</div>
  <script src="/resource/windowdefault/nav_toggle.js"></script>
  <script src="/resource/windowdefault/modal.js"></script>
</body>
</html>