<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>datamodel dashboard</title>
    <link rel="stylesheet" href="/resource/windowdefault/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/dashboard/common.css" />
    <link rel="stylesheet" href="/css/dashboard/sidebar.css" />
    <script src="/resource/windowdefault/jquery-3.4.1.min.js"></script>
    <script src="/resource/windowdefault/jquery-ui.min.js"></script>
    <script src="/resource/chart.js/chart.min.js"></script>
  </head>
  <body>
    <div id="main">
      <!-- common area -->
      <div class="common-area">
        {% include "../common/header.html" %}
        <div class="contents-header clearfix">
          <h2 class="contents-title float-left"><span>스마트시티</span> 데이터 실시간 분석 대시보드</h2>
          <div class="user float-right clearfix">
            <a href="../mypage.html" class="user-name float-left">User 01</a>
            <button type="button" class="float-left btn btn-c-secondary btn-size-sm logout-btn">로그아웃</button>
          </div>
        </div>
      </div>
      <!-- //common area -->
      <!-- contents-area -->
      <div class="contents">
        <h3 class="hidden">컨텐츠 시작</h3>
        <div class="table-btns-box w100p mB0 clearfix">
          <div class="btns-box float-right">
            <button type="button" class="btn btn-c-white float-left js-widget-btn register-widget">위젯 등록</button>
          </div>
        </div>
        <div class="chart-list" id="sortable">
          <div class="chart-list-item" style="display: none;">
            <div class="chart-list-item-tit clearfix">
              <h3 class="float-left"></h3>
              <button type="button" name="button" class="float-right card_del"><img src="img/ico-modal-delete.png" alt="삭제" /></button>
            </div>
          </div>
        </div>
      </div>
      <!-- //contents-area -->

      <!-- 위젯 등록 모달 -->
      <div class="layer-wrap modal-data-widget" data-layer="modal-widget">
        <div class="layer-container">
          <section class="ui-layer">
            <div class="ui-layer__head">
              <h2 class="ui-layer__title">위젯 등록</h2>
            </div>
            <form id="widgetFrm" action="/dashboard/register" method="POST" name="register">
              <div class="ui-layer__body">
                <div class="ui-layer__body-inner">
                  <h3 class="data-tit">제목</h3>
                  <div class="item-input">
                    <input type="text" placeholder="제목 입력하세요." name="title" />
                  </div>
                  <h3 class="data-tit">데이터</h3>
                  <div class="item-select">
                    <select title="대시보드 데이터 선택" name="dataset_type" id="dataset_type">
                      <option value="원천데이터">원천 데이터</option>
                      <option value="분석데이터">분석 데이터</option>
                    </select>
                  </div>
                  <div class="item-select">
                    <select title="대시보드 데이터 선택" name="dataset_info" id="data_select"></select>
                    <input type="hidden" value="" name="dataset_name" />
                  </div>
                  <h3 class="data-tit">지점</h3>
                  <div class="item-check flex flex_one" id="dataset_data_checkbox"></div>
                  <h3 class="data-tit">컬럼 지정</h3>
                  <div class="treeview_box" style="height: 400px">
                    <div id="wrapper"></div>
                  </div>
                  <h3 class="data-tit">Time</h3>
                  <div class="item-input time">
                    <input type="number" placeholder="일" name="time_days" />
                    <input type="number" placeholder="시" name="time_hours" />
                    <input type="number" placeholder="분" name="time_minutes" />
                    <input type="number" placeholder="초" name="time_seconds" />
                  </div>
                  <h3 class="data-tit">Limit</h3>
                  <div class="item-input time">
                    <input type="number" placeholder="data-limit" name="data_limit" />
                    <input type="number" placeholder="chart-limit" name="chart_limit" />
                  </div>
                  <h3 class="data-tit">상세 내용</h3>
                  <div class="item-textarea">
                    <textarea name="description" cols="100" rows="10" placeholder="모델 설명을 작성해 주세요" title="모델 설명"></textarea>
                  </div>
                  <h3 class="data-tit">차트 선택</h3>
                  <div class="item-select">
                    <select name="chart_type">
                      <optgroup label="Line">
                        <option value="lineChart" selected>Line Chart</option>
                        <option value="multiAxisLineChart">Multi Axis Line Chart</option>
                        <option value="steppedLineChart">Stepped Line Chart</option>
                        <option value="lineChartStacked">Line Chart Stacked</option>
                        <option value="lineStyling">Line Styling</option>
                        <option value="pointStyle">Point Style</option>
                        <option value="gridConfiguration">Grid Configuration</option>
                      </optgroup>
                      <optgroup label="Bar">
                        <option value="verticalBarChart">Vertical Bar Chart</option>
                        <option value="programmaticEventTriggers">Programmatic Event Triggers</option>
                        <option value="horizontalBarChart">Horizontal Bar Chart</option>
                        <option value="stackedBarChart">Stacked Bar Chart</option>
                        <option value="barChartBorderRadius">Bar Chart Border Radius</option>
                      </optgroup>
                      <optgroup label="Other">
                        <option value="scatter">Scatter</option>
                        <option value="doughnut">Doughnut</option>
                        <option value="pie">Pie</option>
                        <option value="polarArea">Polar Area</option>
                        <option value="radar">Radar</option>
                      </optgroup>
                    </select>
                  </div>
                  <h3 class="data-tit">Add Chart Style</h3>
                  <div class="item-box">
                    <input type="radio" name="plugin" id="border" value="areaBorder" />
                    <label for="border"><span class="check-ico"></span>Chart Area Border</label>
                    <input type="radio" name="plugin" id="quadrants" value="quadrants" />
                    <label for="quadrants"><span class="check-ico"></span>Quadrants</label>
                  </div>
                </div>
              </div>
              <div class="ui-layer__foot">
                <div class="modal-btns-box">
                  <button type="button" class="btn btn-c-primary register-btn" data-role="layerClose">등록</button>
                </div>
              </div>
              <input type="hidden" name="attr_list" value="" />
            </form>
          </section>
          <div class="over_box" data-role="layerClose"></div>
        </div>
      </div>
      <!-- // 위젯 등록 모달 -->
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/js/model/status.js"></script>  -->
    <script src="/js/dashboard/chart.js"></script>
    <script src="/js/dashboard/jsonTree.js"></script>
    <script src="/resource/windowdefault/nav_toggle.js"></script>
    <script src="/resource/windowdefault/modal.js"></script>
    <script src="/js/dashboard/dashboard.js"></script>
  </body>
</html>
