<!DOCTYPE html>
<html>
<head>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <!-- <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style> -->
</head>
<body>
    <h1>대시보드</h1>
    <canvas id="chart" width="100" height="100"></canvas>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/dashboard/dashboard.js"></script> 

</body>

</html>