<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Water Analysis Dashboard</title>
  </head>
  <body>
    <button type="button" onclick="location.href='/model_manage_board' ">모델 리스트</button>
    <button type="button" onclick="location.href='/new/list' ">분석테이블 리스트</button>
    <button type="button" onclick="location.href='/ds/list' ">데이터셋 리스트</button>
    <button type="button" onclick="location.href='/df/insert'">데이터플로우 리스트</button>
  </body>
</html>


