@charset "utf-8";
@import "font.css";

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,pre,figure {margin:0;padding:0;}
html {-ms-overflow-style:-ms-autohiding-scrollbar;font-family:'Malgun Gothic','맑은 고딕', helvetica,'Apple SD Gothic Neo', sans-serif;color:#575757;}
body,th,td,input,select,textarea,button,
address,caption,cite,code,dfn,var,b,strong,em,pre {font-size:13px;line-height:18px;font-family:inherit;}
img {vertical-align:top;}
h1, h2, h3, h4, h5, h6 {line-height:inherit;font-size:inherit;font-weight:700;}
label {cursor:pointer;margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display:block;}
b,strong,em {font-weight:700;font-size:inherit;}
fieldset,img {border:0 none;}
dl,ul,ol,menu,li {list-style:none;}
input[type="button"],
input[type=submit],
button {border:0 none;background-color:transparent;cursor:pointer;overflow:visible;color:inherit;font-size:inherit;font-weight:inherit;}
button[disabled] {cursor: default;}
button::-moz-focus-inner,
input::-moz-focus-inner {padding:0;border:0;}
input::-ms-clear, input::-ms-reveal {display:none;}
table {width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;}
hr{display:none;}
a {color:inherit;text-decoration:none;}
a:active {outline:0;}
/* body{background-color: #f4f4f4;} */