<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DATAFLOW 등록</title>
  </head>
  <script>
    function typeCheck(item){
      if(!item.checked&&item.value=="dataServiceBroker"){
        document.getElementById("brokerTypes").style.display='none';
      }else if(!item.checked&&item.value=="bigDataStorageHandler"){
        document.getElementById("handlerTypes").style.display='none';
      }else if(item.checked&&item.value=="dataServiceBroker"){
        document.getElementById("brokerTypes").style.display='block';
      }else{
        document.getElementById("handlerTypes").style.display='block';
      }
    }
    function able(item){
      var able = document.getElementsByName("enabled")[0];
      if(!item.checked){
        able.value = "false"
      }else{
        able.value = "true"
      }
    }
    function goSubmit(){
      var b = document.getElementsByName("types")[0];
      var h = document.getElementsByName("types")[1];
      if(!b.checked && !h.checked){
        window.alert("type중 하나는 반드시 선택해야 합니다.")
        return "#"
      }else{
        document.register.submit();
      }
    }
  </script>
  <body>
    <h1>DATAFLOW 등록</h1>
    <form action="/df/inserted" method="POST" name="register" id="dfFrm">
      <p>&Star;표시 항목은 필수 입니다</p>
      {% if df | length %}
      <p>
        &Star;DATASET_ID SELECT :
        <select name="dataset_id">
          {% for items in df %}
          <option value="{{items.dataset_id}}">{{items.dataset_id}}</option>
          {% endfor %}
        </select>
      </p>
      {% else %}
      <p>참조할 Dataset 이 없습니다. Dataset을 등록한 후 다시 진행해주세요</p>
      {% endif %}
      <p>DESCRIPTION : <input type="text" name="description" placeholder="설명을 입력하세요." /></p>
      <p>
        &Star;HISTORY STORE TYPE :
        <select name="historyStoreType">
          <option value="all">all</option>
          <option value="partial">partial</option>
          <option value="full">full</option>
        </select>
      </p>
      <p>ENABLED : <input type="checkbox" name="enCheck" onclick="able(this)" /></p>
      <p>&Star; TYPE / DATA SERVICE BROKER : <input type="checkbox" name="types" value="dataServiceBroker" onclick="typeCheck(this)"/></p>
      <div id="brokerTypes" style="display: none;">
        <p>
          └ BIG DATA STORAGE TYPES / rdb : <input type="checkbox" name="brokerStorageTypes" value="rdb"/> / 
            hbase : <input type="checkbox" name="brokerStorageTypes" value="hbase"/> / 
            hive : <input type="checkbox" name="brokerStorageTypes" value="hive"/>
        </p>
        <!-- <input type="hidden" name="brokerStorageTypes" value=""> -->
      </div>
      <p>&Star; TYPE / BIG DATA STORAGE HANDLER : <input type="checkbox" name="types" value="bigDataStorageHandler" onclick="typeCheck(this)"/></p>
      <div id="handlerTypes" style="display: none;">
        <p>
          └ BIG DATA STORAGE TYPES / rdb : <input type="checkbox" name="handlerStorageTypes" value="rdb"/> / 
            hbase : <input type="checkbox" name="handlerStorageTypes" value="hbase"/> / 
            hive : <input type="checkbox" name="handlerStorageTypes" value="hive"/>
        </p>
        <!-- <input type="hidden" name="handlerStorageTypes" value=""> -->
      </div>
      <input type="hidden" name="enabled" value="false">
      <br />
      <input type="button" onclick="goSubmit()" value="등록하기"/>
    </form>
  </body>
</html>
