<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>분석테이블 등록</title>
</head>
<body>
    <h1>분석테이블 등록</h1>
    <form action="/insert" method="POST">
    <table>
        <tr>
            <td><input type="text" name="tableName" placeholder="테이블이름을 입력하세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="description" placeholder="테이블 설명을 입력하세요."></td>
        </tr>
    </table>
    <input type="submit" value="등록하기">
</body>
</html>