<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>분석테이블 리스트</title>
  </head>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    function getDelete() {
      var chkArray = new Array(); // 배열 선언
      $("input:checkbox[name=delId]:checked").each(function () {
        chkArray.push(this.value);
      });
      $("#deleteList").val(chkArray);
      $("#delListFrm").submit(); 
    }
  </script>
  <body>
    <div>
      <table>
        <tr>
          <td>선택 &nbsp</td>
          <td>테이블 이름 &nbsp&nbsp&nbsp&nbsp</td>
          <td>테이블 설명 &nbsp&nbsp&nbsp&nbsp</td>
          <td>등록일</td>
          <td>
            <a href="/analysis/plus"><button>분석테이블 등록하기</button></a>
          </td>
        </tr>
        {% for list in anaList %}
        <tr>
          <form action="/analysis/listDelete" method="POST" id="delListFrm">
            <td><input type="checkbox" name="delId" value="{{list.al_id}}" /></td>
            <td><a href="/analysis/view/{{list.al_id}}">{{list.al_name}}</a></td>
            <td><a href="/analysis/view/{{list.al_id}}">{{list.al_des}}</a></td>
            <td>{{list.createdAt}}</td>
            {% endfor %}
            <input type="hidden" name="deleteList" id="deleteList" value="" />
            <input type="button" onclick="getDelete();" value="삭제" />
          </form>
        </tr>
      </table>
    </div>
  </body>
</html>
