<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>분석테이블 리스트</title>
  </head>
  <body>
    <div>
      <table>
        <tr>
          <td>테이블 이름 &nbsp&nbsp&nbsp&nbsp</td>
          <td>테이블 설명 &nbsp&nbsp&nbsp&nbsp</td>
          <td>등록일</td>
        </tr>
        {% for list in anaList %}
        <tr>
          <td><a href="/analysis/view/{{list.al_id}}">{{list.al_name}}</a></td>
          <td><a href="/analysis/view/{{list.al_id}}">{{list.al_des}}</a></td>
          <td>{{list.createdAt}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
