<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>분석테이블 리스트</title>
  </head>
  <body>
    <table>
    <tr>
        <td>테이블 이름</td>
        <td>테이블 설명</td>
        <td>등록일</td>
    </tr>
    {% for list in anaList %}
        <tr>
            <td>{{list.al_name}}</td>
            <td>{{list.al_des}}</td>
            <td>{{list.createdAt}}</td>
            <td><button ><a href="/board/{{list.al_id}}">수정하기</a></button></td>
            
            <form action="/board/{{list.al_id}}?_method=DELETE" method="post">
                <td><input type="submit" value="삭제하기"></input></td>
            </form>
        </tr>
    {% endfor %}
</table>
  
  </body>
</html>
