<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>분석 테이블 조회</title>
  </head>
  <body>
    <h3>분석 테이블</h3>
    <div>
      <p>
        테이블 이름 : <br />
        {{analysis.al_name}} <br /><br />
        Name Space : <br />
        {{analysis.al_ns}} <br /><br />
        테이블 내용 : <br />
        {{analysis.al_des}} <br /><br />
        Version : {{analysis.al_version}} <br />
        context : <br />
        {{analysis.al_context}} 
      </p>
    </div>
    <form action="/analysis/delete/{{analysis.al_id}}?_method=DELETE" method="POST">
      <a href="/analysis/edit/{{analysis.al_id}}"><input type="button" value="수정하기" /></a>
      <input type="hidden" value="{{analysis.al_ns}}" name="al_ns">
      <input type="submit" value="삭제하기" />
      <a href="/analysis/list"><input type="button" value="목록" /></a>
    </form>
    <h4>예측데이터 컬럼 생성</h4>
    <form action="/analysis/column/{{analysis.al_id}}" method="post">
      <select name="colType">
        <option value="">데이터 타입</option>
        <option value="STRING">STRING</option>
        <option value="TEXT">TEXT</option>
        <option value="INTEGER">INTEGER</option>
        <option value="CHAR">CHAR</option>
        <option value="FLOAT">FLOAT</option>
        <option value="BOOLEAN">BOOLEAN</option>
        <option value="DATE">DATE</option>
      </select>
      <input type="text" name="dataSize" placeholder="데이터 사이즈를 입력해주세요" />
      <input type="text" name="colName" placeholder="컬럼명을 입력해주세요" />
      <input type="submit" value="V" />
    </form>
    {% if column|length %}
    <h4>예측데이터 컬럼 리스트</h4>
    <table>
      <tr>
        <td>데이터타입 &nbsp&nbsp&nbsp&nbsp</td>
        <td>데이터크기 &nbsp&nbsp&nbsp&nbsp</td>
        <td>컬럼명</td>
      </tr>
      {% for colList in column %}
      <tr>
        <td>{{ colList.data_type }}</td>
        {% if colList.data_size %}
          <td>{{ colList.data_size }}</td>
        {% else %}
          <td>(null)</td>
        {% endif %}
        <td>{{ colList.column_name }}</td>
        <td>
          <form action="/analysis/column/delete/{{colList.col_id}}?_method=DELETE" method="POST">
            <input type="hidden" value="{{colList.al_id_col}}" name="alNum">
            <button>X</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
