<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>분석 테이블 수정</title>
  </head>
   <script src="/js/analysis/edit.js"></script>
  <body>
    <form name="edit" action="/new/edited/{{analysis.al_id}}?_method=PUT" method="post">
      <div>
        <p>
          테이블 이름 : <br />
          <input type="text" name="editName" value="{{analysis.al_name}}" disabled/><br /><br />
          Namespace : <br />
          <input type="text" name="editNs" value="{{analysis.al_ns}}" disabled/><br /><br />
          테이블 설명 : <br />
          <input type="text" name="editDes" value="{{analysis.al_des}}" /><br /><br />
          Context : <br />
          <input type="text" name="editContext" value="{{analysis.al_context}}" /><br /><br />
          Version : <br />
          {% set ver = analysis.al_version|replace(".","") %} {% set verBox = [0,1,2,3,4,5,6,7,8,9] %}
          <select name="first" disabled>
            {% for items in verBox %} {% if (items == ver[0])%}
            <option value="{{items}}" selected>{{items}}</option>
            {% else %}
            <option value="{{items}}">{{items}}</option>
            {% endif %} {% endfor %}
          </select>
          <span>.</span>
          <select name="middle" disabled>
            {% for items in verBox %} {% if (items == ver[1])%}
            <option value="{{items}}" selected>{{items}}</option>
            {% else %}
            <option value="{{items}}">{{items}}</option>
            {% endif %} {% endfor %}
          </select>
          <span>.</span>
          <select name="last" disabled>
            {% for items in verBox %} {% if (items == ver[2])%}
            <option value="{{items}}" selected>{{items}}</option>
            {% else %}
            <option value="{{items}}">{{items}}</option>
            {% endif %} {% endfor %}
          </select>
          <input type="hidden" name="editVersion" value="{{analysis.al_version}}">
        </p>
        <h4>예측데이터 컬럼 리스트</h4>
        <table>
          <tr>
            <td>
              <input name="addButton" type="button" style="cursor: hand" onClick="insRow()" value="추가" />
              필요한 만큼 추가 버튼을 클릭하세요.
            </td>
          </tr>
          <tr>
            <td>
              <table id="addTable">
                <tr>
                  <th align="left">Attribute type</th>
                  <th align="left">Data Type</th>
                  <th align="left">Data Size</th>
                  <th align="left">Column Name</th>
                  <th align="left">Null 허용여부</th>
                </tr>
                {% for colList in column %}
                <tr>
                  <td>
                    {% set attrType = ["Property" , "GeoProperty" , "Relationship" ] %} {% set attr = colList.attributeType %}
                    <select name="attribute" onchange="attrChange(this)">
                      {% for items in attrType %} {% if(items == attr)%}
                      <option value="{{items}}" selected>{{items}}</option>
                      {% else %}
                      <option value="{{items}}">{{items}}</option>
                      {% endif %} {% endfor %}
                    </select>
                  </td>
                  <td>
                    {% set proType = [ "String","Integer","Double","Object","Date","ArrayString","ArrayInteger","ArrayDouble","ArrayObject" ] %} {% set geoType = [ "GeoJson" ]%} {% set relType = [ "String" ] %}
                    {% set colType = colList.data_type %}
                    <select name="colType" style="width:140px;">
                      {% if( attr == "Property" )%} {% for items in proType %}{% if( items == colType ) %}
                      <option value="{{items}}" selected>{{items|upper|replace("RRAY","RRAY ")}}</option>
                      {% else %}
                      <option value="{{items}}">{{items|upper|replace("RRAY","RRAY ")}}</option>
                      {% endif %} {% endfor %} {% elseif (attr == "GeoProperty") %} {% for items in geoType %}{% if( items == colType ) %}
                      <option value="{{items}}" selected>{{items}}</option>
                      {% else %}
                      <option value="{{items}}">{{items}}</option>
                      {% endif %} {% endfor %} {% else %} {% for items in relType %}{% if( items == colType ) %}
                      <option value="{{items}}" selected>{{items|upper}}</option>
                      {% else %}
                      <option value="{{items}}">{{items|upper}}</option>
                      {% endif %} {% endfor %}{% endif %}
                    </select>
                  </td>
                  {% if colList.data_size %}
                  <td><input type="text" name="dataSize" value="{{ colList.data_size }}" /></td>
                  {% else %}
                  <td><input type="text" name="dataSize" placeholder="(null)" /></td>
                  {% endif %}
                  <td><input type="text" name="colName" value="{{ colList.column_name }}" /></td>
                  {% if(colList.allowNull=='true') %}
                  <td><input type="checkbox" name="nullCheck" onclick="nullTf(this)" checked /><input type="hidden" name="allowNull" value="true" /></td>
                  {% else %}
                  <td><input type="checkbox" name="nullCheck" onclick="nullTf(this)"/><input type="hidden" name="allowNull" value="false" /></td>
                  {% endif %}
                  <td><input type="hidden" name="colId" value="{{colList.col_id}}"><input type="button" name="deleteBtn" value="삭제" onclick="deleteRow(this)" /></td>
                </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        </table>
      </div>
      <br />
      <input type="button" onclick="goSubmit()" value="수정하기" />
      <a href="/new/view/{{analysis.al_id}}"><input type="button" value="돌아가기" /></a>
    </form>
  </body>
</html>
