<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>분석테이블 등록</title>
  </head>
  <body>
    <h1>분석테이블 등록</h1>
    <form action="/analysis/insert" method="POST" name="register">
      <p>&Star;표시 항목은 필수 입력 항목 입니다</p>
      <table>
        <tr>
          <td>&Star;TYPE : <input type="text" name="type" placeholder="Table Type" /></td>
        </tr>
        <tr>
          <td>&Star;NAMESPACE : <input type="text" name="namespace" placeholder="nameSpace" /></td>
        </tr>
        <tr>
          <td>NAME : <input type="text" name="name" placeholder="Table Name" /></td>
        </tr>
        <tr>
          <td>&Star;CONTEXT : <input type="text" name="context" placeholder="context" /></td>
        </tr>
        <tr>
          <td>DESCRIPTION : <input type="text" name="description" placeholder="Table description" /></td>
        </tr>
        <tr>
          <td>ATTRIBUTE ID : <input type="text" name="indexAttributeNames" placeholder="AttributeId list(복합id는 , 로 구분)" /></td>
        </tr>
        <tr>
          <td>
            <br />
            <span>&Star;VERSION : </span>
            {% set verBox = [0,1,2,3,4,5,6,7,8,9] %}
            <select name="first">
              {% for items in verBox %}
              <option value="{{items}}">{{items}}</option>
              {% endfor %}
            </select>
            <span>.</span>
            <select name="middle">
              {% for items in verBox %}
              <option value="{{items}}">{{items}}</option>
              {% endfor %}
            </select>
            <span>.</span>
            <select name="last">
              {% for items in verBox %}
              <option value="{{items}}">{{items}}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="version" id="version" />
            <input type="hidden" name="attributes" value="" />
          </td>
        </tr>
      </table>
      <br />
      </form>
      <h4>데이터 모델 속성 <input type="text" name="col_name" placeholder="속성명 입력." /> <input id="addButton" type="button" style="cursor: hand" onClick="colCreat()" value="추가" /></h4>
      <div><p id="col_list"></p></div>
      <h4>데이터 모델 속성 상세입력 ㅣ 속성명을 클릭해주세요</h4>
      <form id="example" style="display: none;">
        <table id="exTbl" cellspacing="0">
          <tr align="center">
            <td>&Star; 속성 아이디</td>
            <td><input type="text" name="column_name" value="" readonly id="hoeee"/></td>
            <td>속성 유형</td>
            <td>
              <select name="attributeType" onchange="attrChange(this)">
                <option value="Property">Property</option>
                <option value="GeoProperty">GeoProperty</option>
                <option value="Relationship">Relationship</option>
              </select>
            </td>
            <td>속성 값</td>
            <td>
              <select name="valueType" style="width: 140px">
                <option value="String">STRING</option>
                <option value="Integer">INTEGER</option>
                <option value="Double">DOUBLE</option>
                <option value="Object">OBJECT</option>
                <option value="Date">DATE</option>
                <option value="ArrayString">ARRAY STRING</option>
                <option value="ArrayInteger">ARRAY INTEGER</option>
                <option value="ArrayDouble">ARRAY DOUBLE</option>
                <option value="ArrayObject">ARRAY OBJECT</option>
              </select>
            </td>
          </tr>
          <tr align="center">
            <td>Min Length</td>
            <td><input type="text" name="minLength" placeholder="데이터 최저 크기" /></td>
            <td>Max Length</td>
            <td><input type="text" name="maxLength" placeholder="데이터 최대 크기" /></td>
            <td>
              필수여부
              <select name="isRequired">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </td>
            <td>
              ObservedAt보유여부
              <select name="hasObservedAt">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><input type="button" name="insertObj" style="cursor: hand" onClick="insObj(this)" value="Object Members 추가" /></td>
            <td><input type="button" name="saveCol" onclick="saveObj(this)" value="저장" /></td>
          </tr>
        </table>
        <table id="exObjTbl"></table>
      </form>
      <div id="addChild"></div>
    <br /><input type="button" value="등록하기" onclick="goSubmit()" />
    <a href="/analysis/list"><input type="button" value="목록보기" /></a>
  </body>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/js/analysis/insert.js"></script>
</html>
