<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>분석테이블 등록</title>
  </head>
  <script src="/js/analysis/insert.js"></script>
  <body>
    <h1>분석테이블 등록</h1>
    <form action="/new/insert" method="POST" name="register">
      <table>
        <tr>
          <td><input type="text" name="al_name" placeholder="테이블이름을 입력하세요." /></td>
          <td><input type="button" onclick="dupCheck()" name="dupBtn" value="중복확인" /></td>
        </tr>
        <tr>
          <td><input type="text" name="al_ns" placeholder="nameSpace를 입력하세요." /></td>
        </tr>
        <tr>
          <td><input type="text" name="description" placeholder="테이블 설명을 입력하세요." /></td>
        </tr>
        <tr>
          <td><input type="text" name="context" placeholder="context를 입력하세요" /></td>
        </tr>
        <tr>
          <td>
            <p>버전선택</p>
            {% set verBox = [0,1,2,3,4,5,6,7,8,9] %}
            <select name="first">
              {% for items in verBox %}
              <option value="{{items}}">{{items}}</option>
              {% endfor %}
            </select>
            <span>.</span>
            <select name="middle">
              {% for items in verBox %}
              <option value="{{items}}">{{items}}</option>
              {% endfor %}
            </select>
            <span>.</span>
            <select name="last">
              {% for items in verBox %}
              <option value="{{items}}">{{items}}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="version" id="version" />
          </td>
        </tr>
      </table>
      <h4>분석테이블 컬럼 등록</h4>
      <table>
        <tr>
          <td>
            <input name="addButton" type="button" style="cursor: hand" onClick="insRow()" value="추가" />
            필요한 만큼 추가버튼을 클릭하세요.
          </td>
        </tr>
        <tr>
          <td>
            <table id="addTable">
              <tr>
                <th>Attribute Type</th>
                <th>Data Type</th>
                <th>Data Size</th>
                <th>Column Name</th>
                <th>Null 허용여부</th>
              </tr>
              <tr>
                <td>
                  <select name="attribute" onchange="attrChange(this)">
                    <option value="Property">Property</option>
                    <option value="GeoProperty">GeoProperty</option>
                    <option value="Relationship">Relationship</option>
                  </select>
                </td>
                <td>
                  <select name="colType" style="width: 140px">
                    <option value="String">STRING</option>
                    <option value="Integer">INTEGER</option>
                    <option value="Double">DOUBLE</option>
                    <option value="Object">OBJECT</option>
                    <option value="Date">DATE</option>
                    <option value="ArrayString">ARRAY STRING</option>
                    <option value="ArrayInteger">ARRAY INTEGER</option>
                    <option value="ArrayDouble">ARRAY DOUBLE</option>
                    <option value="ArrayObject">ARRAY OBJECT</option>
                  </select>
                </td>
                <td><input type="text" name="dataSize" placeholder="데이터 사이즈를 입력해주세요" /></td>
                <td><input type="text" name="colName" placeholder=" 컬럼이름을 입력하세요." /></td>
                <td><input type="checkbox" name="nullCheck" /><input type="hidden" name="allowNull" value="false" /></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br /><input type="button" value="등록하기" onclick="goSubmit()" />
      <a href="/new/list"><input type="button" value="목록보기" /></a>
    </form>
  </body>
</html>
