<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모델 관리</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/dashboard/common.css" />
    <link rel="stylesheet" href="/css/dashboard/sidebar.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      function ListDelete() {
        var chkArray = new Array();
        $("input:checkbox[name=md_id]:checked").each(function () {
          chkArray.push(this.value);
        });
        console.log(chkArray);
        $("#delModel").val(chkArray);
        $("#confirm").submit();
      }
      $(document).ready(function(){
        $(".model_status_btn").on("click", function(){
          window.open("", "popup_window", "width=500, height=300, scrollbars=no");
          $("#myform").submit();
        });
      });
    </script>
  </head>
  <body>
    <div id="main">
      <!-- common area -->
      <div class="common-area">
        {% include "../common/header.html" %}
        <div class="contents-header clearfix">
          <h2 class="contents-title float-left"><span>스마트시티</span> 데이터 실시간 분석 모델 관리</h2>
          <div class="user float-right clearfix">
            <a href="../mypage.html" class="user-name float-left">{{nickName}}</a>
            <button type="button" class="float-left btn btn-c-secondary btn-size-sm logout-btn" onclick="location.href='/logout'">로그아웃</button>
          </div>
        </div>
      </div>
      <!-- //common area -->
      
      <!-- contents-area -->
      <div class="contents">
        <h3 class="hidden">컨텐츠 시작</h3>
        <!-- path -->
        <div class="path">
            <ul class="clearfix">
                <li class="path-name">Home</li>
                <li class="path-name">모델 관리</li>
            </ul>
        </div>
        <!-- path -->

        <div class="table-btns-box w100p clearfix">
          <div class="btns-box float-right">              
            <button onclick="location.href='/dataAnalysisModelModView?mode=add'" class="btn btn-c-tertiary float-left" type="submit"><span class="table-btn ico-apply"></span>등록</button>
            <button type="button" class="del_btn btn btn-c-white float-left js-delete-btn" onclick="ListDelete()" ><span class="table-btn ico-delete"></span>삭제</button>
          </div>
        </div>

        
        <div class="table-list-box thead-box">
          <div class="table-list">
            {% if type %}
            <table>
              <caption class="hidden">No, 분석시간, 모델 이름, 분석 모델, 등록일, 상태, 유저, 관리</caption>
              <colgroup>
                <col style="width:90px">
                <col style="width:100px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
              </colgroup>
              <thead>
                <tr>
                  <th></th>
                  <th>No.</th>
                  <th>분석시간</th>
                  <th>모델 이름</th>
                  <th>분석 모델</th>
                  <th>시간</th>
                  <th>상태</th>
                  <th>유저</th>
                  <th>관리</th>
                </tr>
              </thead>
            </table>
            {%else%}
            <table>
              <caption class="hidden">No, 분석시간, 모델 이름, 분석 모델, 등록일, 상태,관리</caption>
              <colgroup>
                <col style="width:90px">
                <col style="width:100px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
              </colgroup>
              <thead>
                <tr>
                  <th></th>
                  <th>No.</th>
                  <th>분석시간</th>
                  <th>모델 이름</th>
                  <th>분석 모델</th>
                  <th>시간</th>
                  <th>상태</th>
                  <th>관리</th>
                </tr>
              </thead>
            </table>
            {%endif%}
          </div>
        </div>
        <div class="table-list-box">
          <div class="table-list template-overflow-unset">
            {% if type %}
            <table>
              <caption class="hidden">No, 분석시간, 모델 이름, 분석 모델, 등록일, 상태, 유저, 관리</caption>
              <colgroup>            
                <col style="width:90px">
                <col style="width:300px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:200px">
              </colgroup>
              {% for item in list_data %}
              <tr>
                <td>
                  <form action="/admin/model/list/delete" method="post" id="confirm">
                    <input
                      class="selected_md_del"
                      type="checkbox"
                      name="md_id"
                      value="{{item.md_id}}"
                    />
                    <input type="hidden" name="delModel" id="delModel" value="" />
                  </form>
                </td>
                <td>{{list_data.indexOf(item)+1}}</td>
                <td>{{ item.al_time }}</td>
                <td>
                  <button type="button" onclick="location.href='/dataAnalysisModelModView?mode=view&md_id={{item.md_id}}' ">{{item.md_name}}</button>
                </td>
                <td>{{item.al_name_mo}}</td>
                <td>{{item.dateFormat(item.createdAt)}}</td>
                <td>{{item.run_status}}</td>
                <td>{{item.user_id}}</td>
                <!-- check -->
                <td>
                  <form action="/dataAnalysisModelmodView?mode=status" id="myform" method="get" action="popup url" target="popup_window">
                    <button
                      class="model_status_btn"
                      type="submit"
                      name="md_id"
                      value="{{item.md_id}}"
                    >
                      관리</button
                    >
                    <input hidden name="mode" value="status" />
                  </form>
                </td>
              </tr>

              {% endfor %}
            </table>  
            {% else %}
            <table>
              <caption class="hidden">No, 분석시간, 모델 이름, 분석 모델, 등록일, 상태, 관리</caption>
              <colgroup>            
                <col style="width:90px">
                <col style="width:100px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:200px">
                <col style="width:100px">
                <col style="width:200px">
                <col style="width:200px">
              </colgroup>
              {% for item in list_data %}
              <tr>
                <td>
                    <form action="/model/list/delete" method="post" id="confirm">
                    <input
                      class="selected_md_del"
                      type="checkbox"
                      name="md_id"
                      value="{{item.md_id}}"
                    />
                    <input type="hidden" name="delModel" id="delModel" value="" />
                  </form>
                </td>
                <td>{{list_data.indexOf(item)+1}}</td>
                <td>{{ item.al_time }}</td>
                <td>
                  <button type="button" onclick="location.href='/dataAnalysisModelModView?mode=view&md_id={{item.md_id}}' ">{{item.md_name}}</button>
                </td>
                <td>{{item.al_name_mo}}</td>
                <td>{{item.dateFormat(item.createdAt)}}</td>
                <td>{{item.run_status}}</td>
                <td>
                  <form action="/dataAnalysisModelmodView?mode=status" id="myform" method="get" action="popup url" target="popup_window">
                    <button
                      class="model_status_btn"
                      type="submit"
                      name="md_id"
                      value="{{item.md_id}}"
                    >
                      관리</button
                    >
                    <input hidden name="mode" value="status" />
                  </form>
                </td>
              </tr>

              {% endfor %}
            </table>  
            {%endif%} 
          </div>     
          <div class="table-pagenation">
            <div class="pagination-box">
              <button type="button" onClick="location.href='{{prevUrl}}'" class="pagination-btn pagination-prev" aria-label="Previous"></button>    
              <div class="pagination-pages">          
                {% for pagesNav in pages %}
                  <button type="button" onClick="location.href='{{pagesNav.url}}'" class="pagination-page">{{pagesNav.number}}</button>        
                {%endfor%}
              </div>                  
              <button type="button" onClick="location.href='{{nextUrl}}'" class="pagination-btn pagination-next" aria-label="Next"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/model/dataAnalysisModels.js"></script>
  </body>
</html>
