<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모델 등록</title>
    <link rel="stylesheet" href="../../public/resource/windowdefault/jquery-ui.min.css" />
    <link rel="stylesheet" href="../../public/css/dashboard/common.css" />
    <link rel="stylesheet" href="../../public/css/dashboard/sidebar.css" />
    <link rel="stylesheet" href="../../public/css/contents.css" />
    <script src="../../public//resource/windowdefault/jquery-3.4.1.min.js"></script>
    <!-- <script src="/js/model/test.js"></script> -->
    <!-- <link rel="stylesheet" href="/css/test.css"/> -->
  </head>
  <body>
    <div id="main">
      <!-- common area -->
      <div class="common-area">
        <header class="header">
          <h1 class="header-logo">
            <img src="../../public/img/logo.png" alt="스마트 시티 로고" class="logo-img" />
          </h1>
          <nav class="gnb">
            <ul class="gnb-list">
              <li class="gnb-item gnb-item-batch">
                <a href="/dashboard" class="gnb-link">
                  <span class="gnb-link-icon"></span>
                  <p class="gnb-link-text">대시보드</p>
                </a>
              </li>
            </ul>
          </nav>
          <button class="gnb-toggle-btn">
            <span class="toggle-btn-line"></span>
            <span class="toggle-btn-line"></span>
          </button>
        </header>
        <div class="contents-header clearfix">
          <h2 class="contents-title float-left"><span>스마트시티</span> 데이터 실시간 분석 대시보드</h2>
          <div class="user float-right clearfix">
            <a href="../mypage.html" class="user-name float-left" id="userIdInfo">{{userId}}</a>
            <button type="button" class="float-left btn btn-c-secondary btn-size-sm logout-btn" onclick="location.href='/logout'">로그아웃</button>
          </div>
        </div>
      </div>
      <!-- //common area -->
      <!-- contents-area -->
      <div class="contents">
        <h3 class="hidden">컨텐츠 시작</h3>
        <!-- path -->
        <div class="path">
            <ul class="clearfix">
                <li class="path-name">Home</li>
                <li class="path-name">모델 등록</li>
            </ul>
        </div>
        <!-- path -->
        <form action="/model/register/complete" method="POST" id="register_complete" enctype="multipart/form-data" class="model_form_box">
          <div class="model_form_wrap">
            <table class="model_table">
              <thead>
                <tr>
                  <th>
                    모델 이름
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  <div class="item-input">
                  <input type="text" name="md_name" />
                  </div>
                </td>
              </tbody>
            </table>
            <table class="model_table">
              <thead>
                <tr>
                  <th>
                    모델 시간 세팅
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  <div class="item-input item-input-flex">
                  <span>요청 시간 :</span> 
                    <input
                      type="text"
                      id="al_time"
                      name="al_time"
                      placeholder="요청 시간"
                    />
                  </div>
                </td>
              </tbody>
            </table>
            <table class="model_table">
              <thead>
                <tr>
                  <th>
                    데이터 조회 기간
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  <div class="item-input item-input-flex">
                    <input
                      class="data_lookup"
                      type="number"
                      name="data_lookup_date"
                      placeholder="일"
                    />
                    <input
                      class="data_lookup"
                      type="number"
                      name="data_lookup_hour"
                      placeholder="시간"
                    />
                    <input
                      class="data_lookup"
                      type="number"
                      name="data_lookup_min"
                      placeholder="분"
                    />
                    <input
                      class="data_lookup"
                      type="number"
                      name="data_lookup_sec"
                      placeholder="초"
                    />
                    </div>
                </td>
              </tbody>
            </table>
            <table class="model_table">
              <thead>
                <tr>
                  <th>
                    데이터 선택
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  <select name="dataset_id" id="data_select">
                    <option value="">-선택-</option>
                    {% for name in raw_dataset_name%}
                    <option
                      value="{{name.value.id}},{{name.value.dataModelType}},{{name.value.dataModelNamespace}},{{name.value.dataModelVersion}}"
                    >
                      {{name.key}}
                    </option>
                    {% endfor %}
                  </select>
                </td>
              </tbody>
            </table>
            <table class="sub_data_insert"></table>
            <table class="sub_data_insert_option"></table>
            <table class="model_table">
              <colgroup>
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
              </colgroup>
              <thead>
                <tr>
                  <th>
                    input 파라미터 매칭
                  </th>
                </tr>
              </thead>
              <tbody>
                <th>값 타입</th>
                <th>속성</th>
                <th>파라미터</th>
                <th>파라미터 로드 갯수</th>
                <th>파라미터 텐서 타입</th>
                <table class="input_params_insert"></table>
              </tbody>
            </table>
            
            <table class="model_table">
              <thead>
                <tr>
                  <th>
                    분석결과 테이블
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  <label for="al_name_mo">/분석 테이블/</label>
                  <select name="al_name_mo" id="al_select">
                    <option value="">-선택-</option>
                    {% for el in processed_dataset %}
                    <option
                      value="{{el.dataModelType}},{{el.dataModelNamespace}},{{el.dataModelVersion}},{{el.id}}"
                    >
                      {{el.name}}
                    </option>
                    {% endfor %}
                  </select>
                </td>
              </tbody>
            </table>

            <table class="model_table">
              <thead>
                <tr>
                  <th>
                    output 파라미터 매칭
                  </th>
                </tr>
              </thead>
              <div id='wrapper'></div>
              <tbody>
                <th>속성 타입</th>
                <th>속성 이름</th>
                <th>아웃풋 값</th>
                <table class="output_params_insert">
                  <input class ='user_output_param'name='user_output_param' hidden>
                </table>
                <table class="output_look_up_insert"></table>
              </tbody>
            </table>
            
            <table class="model_table">
              <thead>
                <tr>
                  <th>
                    분석 모델
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  <input
                    type="file"
                    id="file_select"
                    name="atch_origin_file_name"
                  />
                </td>
                <td>
                  <label for="analysis_file_format">분석 파일 포맷</label>
                  <select name="analysis_file_format">
                    <option value="">--선택--</option>
                    <option value="loadLayersModel">Layers</option>
                    <option value="loadGraphModel">Graph</option>
                  </select>
                </td>
              </tbody>
            </table>
            <table class="model_table">
              <thead>
                <tr>
                  <th>
                    내용 (500자 내외로 작성해주세요)
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                <div></div>
                <input
                  type="text"
                  class="md_desc"
                  name="model_desc"
                  style="height: 100px"
                />
                </td>
              </tbody>
            </table>
            <div class="align-right">
              <button type="button" class="btn btn-c-primary register-btn" id="submitBtn">등록 완료</button>
            </div>
          </div>
          <!-- <script src="/socket.io/socket.io.js"></script>
          <script src="/js/model/add.js"></script> -->
        </form>
      </div>
      <!-- //contents-area -->
    </div>
  </body>
</html>
