<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>모델 등록</title>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script>
			function ready() {
				$("#al_time_cont").val($("#al_time").val());
				$(".myForm").submit(); // Submit the form
			}
		</script>
	</head>
	<body>
		<table>
			<thead>
				분석시간
			</thead>
			<tbody>
				<td>
					초 :
					<input type="text" id="al_time" name="al_time" placeholder="분석 시간" />
				</td>
			</tbody>
		</table>
		<table>
			<thead>
				데이터 선택
			</thead>

			<tbody>
				<td>
					<form action="/model_register_board" method="post">
						<select name="dataset_id" onchange="this.form.submit()">
							{% for name in dataset_name%}
							<option value='{"id":"{{name.value.id}}","type":"{{name.value.dataModelType}}","namespace":"{{name.value.dataModelNamespace}}"}'>{{name.key}}</option>
							{% endfor %}
						</select>
					</form>
				</td>
			</tbody>
		</table>
		<table>
			<thead>
				input 파라미터 매칭
			</thead>
			<tbody>
				<tr>
					<!-- 실제 input parameter 자리  -->
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				분석결과 테이블
			</thead>
			<tbody>
				<td>
					<form action="/model/register/al_list" method="post">
						<label for="al_name_mo">/분석 테이블/</label>
						<select name="al_name_mo" onchange="this.form.submit()">
							{% for el in al_name_mo %}
							<option value="{{el.al_name}}">{{el.al_name}}</option>
							{% endfor %}
						</select>
					</form>
				</td>
			</tbody>
		</table>
		<table>
			<thead>
				분석 모델
			</thead>
			<tbody>
				<form action="/model/register/complete" method="post" class="myForm" enctype="multipart/form-data">
					<input type="hidden" name="al_time" id="al_time_cont" value="" />
					<input type="file" accept=".h5, .zip" name="atch_origin_file_name" />
				</form>
			</tbody>
		</table>
		<table>
			<thead>
				output 파라미터 매칭
			</thead>
			<tbody>
				<tr>
					<td><input type="text" name="op_value1" placeholder="output value" /></td>
				</tr>
				<tr>
					<td><input type="text" name="op_param1" placeholder="output param" /></td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				내용
				<input />
			</thead>
		</table>
		<button type="button" id="submitBtn" onclick="ready()">등록 완료</button>
	</body>
</html>
