<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>모델 수정 {{md_id}}</title>
	</head>
	<body>
		<form action="/model/register/edit" method="post" id="register_edit" enctype="multipart/form-data">
			<input name="md_id" value="{{md_id}}" hidden />
			<div>
				<table>
					<thead>
						분석시간
					</thead>
					<tbody>
						<td>
							초 :
							<input type="text" id="al_time" name="al_time" value="{{al_time}}" />
						</td>
					</tbody>
				</table>
				<table>
					<thead>
						데이터 선택
					</thead>
					<tbody>
						<td>
							<select name="dataset_id" id="data_select" disabled>
								<option value="{{data_model_name}}">{{ raw_data_model_key_prev.key}}</option>

							</select>
						</td>
					</tbody>
				</table>

				<table>
					<thead>
						input 파라미터 매칭
					</thead>
					<tbody>
						<th>값 타입</th>
						<th>속성</th>
						<th>파라미터</th>

						<table class="input_params_insert">
							<tr>
								{%for input_collections in model_input_info_value%}
							</tr>

							<tr>
								<td><input name="ip_attr_value_type" value="{{input_collections.ip_type}}" readonly /></td>
								<td><input class="ip_attr_name" name="ip_attr_name" value="{{input_collections.ip_param}}" readonly /></td>
								<td><input class="user_input_param" name="user_input_param" value="{{input_collections.ip_value}}" /></td>
							</tr>
							{%endfor%}
						</table>
					</tbody>
				</table>
				<table>
					<thead>
						분석결과 테이블
					</thead>
					<tbody>
						<td>
							<label for="al_name_mo">/분석 테이블/</label>
							<select name="al_name_mo" id="al_select">
								<option value="{{al_name_mo_prev}},{{dataset_id_prev}}">{{processed_selected_name}}</option>
								{% for el in processed_dataset_edit_removed %}
								<option value="{{el.dataModelType}},{{el.dataset_id}}">{{el.name}}</option>
								{% endfor %}
							</select>
						</td>
					</tbody>
				</table>
				<table>
					<thead>
						분석 모델
					</thead>
					<tbody>
						<input type="file" id="file_select" name="atch_origin_file_name" value='{{file_name_prev}}' />
					</tbody>
				</table>
				<table>
					<thead>
						output 파라미터 매칭
					</thead>
					<tbody>
						<th>속성 타입</th>
						<th>속성 이름</th>
						<th>아웃풋 값</th>
						<table class="output_params_insert"></table>
					</tbody>
				</table>
				<table>
					<thead>
						내용 (500자 내외로 작성해주세요)
						<div></div>
						<input style="width: 200px; height: 100px" name ='model_desc' value="{{md_desc}}" />
					</thead>
				</table>
				<button type="button" id="submitBtn">수정 완료</button>
			</div>
			<script src="/socket.io/socket.io.js"></script>
			<script src="/js/model/register_edit.js"></script>
		</form>
	</body>
</html> -->
