<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모델 등록 관리</title>
  </head>
  <body>
    <div class="container pt-3">
      <h1>분석 모델 관리 모달</h1>
      <div>현재 분석 상황: {{current_status}}</div>
      <form action="/model_updated?md_id={{md_id}}" method="GET">
        <input class="status_md_id" name = "status_md_id" value="{{md_id}}" hidden />

        <button class="status_btn" type="submit" name="new_status" value="stop">
          중지
        </button>
        <button
          type="submit"
          class="status_btn"
          name="new_status"
          value="running"
        >
          실행
        </button>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/model/status.js"></script>
  </body>
</html>
